*{
    background-color:bisque
}

#saymyname {
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
}

#myface {
    float: left;
    margin: 50px;
    border-radius: 20%;
    border: 15px beige solid;
}
